{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<form class="record-form shadow" action="{{ url_for('profile.edit_profile') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.id(value=user.id) }}
    <div class="form-topic">
        {{ form.username.label(class='title') }}
        {{ form.username(value=user.name | escape) }}
    </div>
    <div class="form-topic">
        {{ form.email.label(class='title') }}
        {{ form.email(value=user.email | escape) }}
    </div>
    <div class="form-topic">
        {{ form.password.label(class='title') }}
        {{ form.password }}
    </div>
    <div class="form-topic">
        {{ form.confirm.label(class='title') }}
        {{ form.confirm }}
    </div>
    <button class="link center" type="submit">Update Profile</button>
</form>
{% endblock %}