{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<form class="record-form shadow" action="{{ url_for('profile.edit_profile') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.id(value=user.id) }}
    <div class="form-topic">
        {{ form.username.label(class='title') }}
        
        {% if form.username.errors %}
            {{ form.username(class='error-element', value=user.name | escape) }}
            <p class="error-message">{{ form.username.errors[0] }}</p>
        {% else %}
            {{ form.username(value=user.name | escape) }}
        {% endif %}
    </div>
    <div class="form-topic">
        {{ form.email.label(class='title') }}

        {% if form.email.errors %}
            {{ form.email(class='error-element', value=user.email | escape) }}
            <p class="error-message">{{ form.email.errors[0] }}</p>
        {% else %}
            {{ form.email(value=user.email | escape) }}
        {% endif %}
    </div>
    <div class="form-topic">
        {{ form.password.label(class='title') }}

        {% if form.password.errors %}
            {{ form.password(class='error-element') }}
            <p class="error-message">{{ form.password.errors[0] }}</p>
        {% else %}
            {{ form.password }}
        {% endif %}
    </div>
    <div class="form-topic">
        {{ form.confirm.label(class='title') }}

        {% if form.confirm.errors %}
            {{ form.confirm(class='error-element') }}
            <p class="error-message">{{ form.confirm.errors[0] }}</p>
        {% else %}
            {{ form.confirm }}
        {% endif %}
    </div>
    <button class="link center" type="submit">Update Profile</button>
</form>
{% endblock %}