{% extends "base.html" %}

{% block title %}Add{% endblock %}

{% block content %}
<form class="record-form shadow" action="{{ url_for('manage.add_info') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-topic">
        {{ form.name.label(class="title") }}
        {{ form.name(placeholder="Name ...") }}
    </div>
    <div class="form-topic">
        {{ form.date.label(class="title") }}
        {{ form.date }}
    </div>
    <div class="form-topic">
        {{ form.message.label(class="title") }}
        {{ form.message(placeholder="Message ...") }}
    </div>
    <button class="link center" type="submit">Add Info</button>
</form>
{% endblock %}