{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
<form class="record-form shadow" action="{{ url_for('manage.update_info', id=data.id) }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-topic">
        {{ form.name.label(class="title") }}
        {{ form.name(value=data.name | escape) }}
    </div>
    <div class="form-topic">
        {{ form.date.label(class="title") }}
        {{ form.date(value=data.date | escape) }}
    </div>
    <div class="form-topic">
        {{ form.message.label(class="title") }}
        <textarea id="message" name="message">{{ data.message }}</textarea>
    </div>
    <button class="link center" type="submit">Update Info</button>
</form>
{% endblock %}