{% extends "base.html" %}

{% block title %}Edit User{% endblock %}

{% block content %}
<form class="record-form shadow" action="{{ url_for('admin.update_user', id=user.id) }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-topic">
        {{ form.username.label(class='title') }}
        {{ form.username(value=user.name | escape) }}
    </div>
    <div class="form-topic">
        {{ form.email.label(class='title') }}
        {{ form.email(value=user.email | escape) }}
    </div>
    <div class="form-topic">
        {{ form.password.label(class='title') }}
        {{ form.password }}
    </div>
    <div class="form-topic">
        {{ form.is_admin.label(class='title') }}
        {{ form.is_admin(value=user.is_admin | escape) }}
    </div>
    <button class="link center" type="submit">Update Profile</button>
</form>
{% endblock %}